{% extends 'base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}
  {% if form.errors %}
    <div id="contact_errors" class="alert alert-danger center">
      <p id="contact_error_msg" class="center">Wait!</p>
      <p class="center errormsg">You must correct the following error{{ form.errors|pluralize }} before you can contact me:</p>
      {% if form.name.errors %}<span class="bold">{{ form.name.errors }}</span>{% endif %}
      {% if form.email.errors %}<span class="bold">{{ form.email.errors }}</span>{% endif %}
      {% if form.message.errors %}<span class="bold">{{ form.message.errors }}</span>{% endif %}
    </div>
  {% endif %}
  <div id="contact">
    {% if not sent %}
      <h2 class="center">Contact</h2>
      <p class="bold" style="font-size: 1.4em;">
        Thanks for visiting. Please note that the website maintainer has a significant email backlog and it may take a very long time to get a response. Please feel free to <a href="https://discord.gg/KYKEUxFUsZ">join the Discord channel</a> or <a href="https://web.libera.chat/?channels=#momw">IRC</a> in order to chat with the community. If you've sent an email and waited for a response, sorry about the wait!
      </p>
      <p class="center">Please fill out the form and click "Submit" below to send your message.</p>
      <form id="contact" action="." method="post">{% csrf_token %}
        <div class="row">
          <div class="six columns">
            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
            <input class="u-full-width" id="{{ form.name.id_for_label }}" name="{{ form.name.name }}" type="text" placeholder="Your {{ form.name.label }}" required>
          </div>
          <div class="six columns">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            <input class="u-full-width" id="{{ form.email.id_for_label }}" name="{{ form.email.name }}" type="email" placeholder="Your {{ form.email.label }}" required>
          </div>
        </div>
        <label for="{{ form.message.id_for_label }}">{{ form.message.label }}</label>
        <textarea class="u-full-width" id="{{ form.message.id_for_label }}" name="{{ form.message.name }}" placeholder="Your {{ form.message.label }}" required>{% if msg %}{{ msg }}{% endif %}</textarea>
        <button class="button u-full-width" id="contact">Submit</button>
      </form>
      <p class="center">You may also send an email to <a class="bold" id="mail_goes_here">contact at modding-openmw dot com</a>.</p>
    {% else %}
      <h3 class="center" style="margin-bottom: 300px;">Thanks for reaching out!</h3>
    {% endif %}
  </div>
  {% include "main-nav.html" with cur_page="contact" %}
{% endblock %}
{% block lower_js %}
  {% if DEBUG %}
    {% load static %}
    <script src="{% static 'js/theme-picker.js' %}"></script>
  {% else %}
    <script src="/js/theme-picker.js"></script>
  {% endif %}
  <script type="text/javascript">
   (function(){
     const u = "contact";
     const d = "modding-openmw";
     const t = "com";
     document.getElementById("mail_goes_here").href = 'mailto:' + u + "@" + d + "." + t;
   })();
  </script>

{% endblock %}
