{% extends 'base.html' %}
{% block title %}Tag: "{{ tag }}"{% endblock %}
{% block content %}
  <div>
    <h3 class="bold center">Tag: {{ tag }}</h3>
    <div>
      {% for e in tag.tagged_entries.distinct %}
        {% include "item_snippet.html" with item=e %}
      {% endfor %}
    </div>
  </div>
  {% include "paginate.html" %}
{% endblock %}
