{% extends 'base.html' %}
{% block title %}How To Become A Mod List Curator{% endblock %}
{% block content %}

  <h2>How To Become A Mod List Curator</h2>

  <p>Mod lists are, of course, lists of mods that folks use.  The ones featured on this site are (presently, at least) all put together by me (the site admin), of course with the help of countless individuals from the community.  It's my intention that this site should have lists by other folks, for other tastes and styles.</p>

  <h4>What To Do</h4>

  <p>A curated list should be well tested and unique, and a curator should be prepared to open and respond to issues regarding the list (<span class="bold">not required</span>, but this would be nice).</p>

  <p>If this sounds like something you're up for, then please read on!</p>

  <h4>Making A List</h4>

  <p><a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/blob/beta/momw/momw/data_seeds/data">In the website codebase</a>, mod lists are represented as literal lists in YAML format (<a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/blob/beta/momw/momw/data_seeds/data/i-heart-vanilla.yml">this one</a> represents <a href="{% url 'mod-list-detail' 'i-heart-vanilla' %}">"I Heart Vanilla"</a>) and grouped lists such as <a href="{% url 'mod-list-detail' 'total-overhaul' %}">"Total Overhaul"</a> are <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/blob/beta/momw/momw/data_seeds/data/total-overhaul.toml">TOML-formatted</a>.</p>

  <p>To create your own list, simply provide a list of mod names in the same format as seen above.  If a mod that you use is not present in the site database, please <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/new">open an issue</a> to have it added.  If there are several mods to be added, please feel free to open one issue for your list, and mention each mod within that issue.</p>

  <p>Once you have a properly-formatted list of mod names that are present in the database, and they are ordered as they should appear in the order of your list, please email it to the site admin or <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/new">open an issue</a> referencing your list and upload the file to that issue.  Better yet, email me a patch or open a pull request!</p>

  <p>At this point, the site admin will review and test the list.  If theres any issues or questions that come up, you'll be contacted and so forth.</p>

  <h4>Publishing Your List</h4>

  <p>Once the details are sorted and the list works, it will be published to the beta site for review.  At this point, you and the site admin would each look over the list for issues.  Barring any major problems, the list will find itself in the next deploy of the website.  Congratulations!</p>

  <h4>Updating Your List</h4>

  <p>A list update can be done via: an emailed git patch, a pull request on the website code repo, or by emailing the site admin with the details of your update.</p>

  <h4>Removing Your List</h4>

  <p>To have your list removed, simply email the site admin asking to do so.  No questions asked.  Git patches and pull requests are also accepted for this purpose.</p>

{% endblock %}
