{% extends 'base.html' %}
{% block title %}CFG Generator{% endblock %}
{% block content %}

  <h2 class="bold center"><a href="{% url 'cfg_generator' %}">CFG Generator</a></h2>

  <p class="center">
    <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">Report a problem</a> <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/?label_name%5B%5D=CFG%20Generator">View Issues</a></p>

  <div id="cfg-intro">
    <p>Generate usable config snippets for your setup.</p>

    <p>
      Your current path settings:
    </p>

    <ul>
      <li>Base Folder Path: <span class="bold" id="baseDir"></span></li>
      <li>Morrowind Install Path: <span class="bold" id="mwDir"></span></li>
    </ul>

    <p>
      Set your paths <a href="{% url 'user_settings' %}">on the User Settings page</a>.
    </p>
  </div>

  {% if preset %}
    <h3 class="center">Preset: <span class="bold upper">{{ preset_title }}</span></h3>
    <p class="center">
      <a href="{% url 'mod-list-detail' slug=preset %}">View <span class="bold upper">{{ preset_title }}</span></a> | <a href="{% url 'mod-list-changelog' slug=preset %}">View the <span class="bold upper">{{ preset_title }}</span> list changelog</a>
    </p>
  {% endif %}

  <div id="results">

    {% if queried %}
      <div class="line"></div>
      <div style="margin-bottom: 25px;" class="bold center">
        {% if has_openmw_cfg %}<a href="#openmwcfg-section"><code>openmw.cfg</code> Section</a> {% if has_settings_cfg %} | <a href="#settingscfg-section"><code>settings.cfg</code> Section</a>{% endif %}{% endif %}{% if not used_select and queried %}{% if has_openmw_cfg or has_settings_cfg %} |{% endif %} <a href="#custom-cfg-section">Custom CFG Section</a>{% endif %} | <a href="#presets">Presets</a>
      </div>
    {% endif %}

	{% if has_openmw_cfg %}
      <h4 id="openmwcfg-section" class="center"><a href="#openmwcfg-section"><code>openmw.cfg</code> Section</a></h4>
	  <p class="center">Paste these below the last <code>fallback=</code> line in your <code>openmw.cfg</code>.</p>
      {% if plugins %}
	    <p class="center"><a href="{% url 'load_order' %}#how-i-do-it">How is this order determined?</a></p>
      {% endif %}
	  <div class="center ul" id="copyOpenMWCfg">Copy to clipboard</div>
	  <div class="cfgs">
        {% if queried %}
          <pre><code id="extra-cfg-o">{% for thing in extra_cfg_nosettings %}{% if thing.for_mods.all %}{% for mod in thing.for_mods.all %}#
# For: {{ mod }}
#
{% endfor %}{% endif %}{{ thing.text }}{% endfor %}
{% if data_paths %}## Data Paths
{% for p in data_paths %}data="{{ p.linux }}"
{% endfor %}{% endif %}
{% if fallback_archives %}## BSAS
{% for bsa in fallback_archives %}fallback-archive={{ bsa.file_name }}
{% endfor %}{% endif %}
{% if plugins %}## Plugins
{% for plugin in plugins %}content={{ plugin.filename }}
{% endfor %}{% endif %}
{% if groundcover %}## Groundcover
{% for plugin in groundcover %}groundcover={{ plugin.file_name }}
{% endfor %}{% endif %}</code></pre>
        {% endif %}
      </div>
    {% endif %}

    {% if used_settings %}
      <h4 id="settingscfg-section" class="center"><a href="#settingscfg-section"><code>settings.cfg</code> Section</a></h4>
        <p>If one of the sections listed below is already present in your <code>settings.cfg</code> file, omit the heading and add values to the existing section. If you don't have a <code>settings.cfg</code> file, create it and paste these values into it. <a href="https://openmw.readthedocs.io/en/latest/reference/modding/paths.html#configuration-files-and-log-files">Where to find the <code>settings.cfg</code> file</a>.</p>
        <div class="center ul" id="copyExtraCfgS">Copy to clipboard</div>

        <div class="cfgs">
          <pre><code id="extra-cfg-s">{% for s in used_settings %}{{ s }}
{% endfor %}</code></pre>
        </div>
    {% endif %}
  </div>

  {% if not used_select and queried %}

    <div class="line"></div>

    <h3 id="custom-cfg-section">Custom CFG Section</h3>

      <form id="custom-cfg" method="POST" action=".">{% csrf_token %}
    <fieldset>
      <legend>Select mods to include in the generator's output:</legend>

      <div id="custom-cfg-grid3">
        <div class="modenabled">
          <input type="checkbox" id="check-all" name="check-all"/>
        </div>
        <div class="modname">
          <label for="check-all">Check/uncheck all</label>
        </div>
      </div>

      {% if not used_mods_by_sublist %}
        <div id="custom-cfg-grid">
          <div class="bold">Enabled</div>
          <div class="bold">Mod Name (click to check/uncheck)</div>
          {% for lm in used_mods %}
            <div class="modenabled">
              <input class="customcfg-input" type="checkbox" id="{{ lm.mod.slug }}" name="{{ lm.mod.slug }}"/>
            </div>
            <div class="modname">
              <label class="customcfg" for="{{ lm.mod.slug }}">{{ lm.mod }}</label>
            </div>
          {% endfor %}
        </div>
      {% elif used_mods_by_sublist %}
        {% for sublist, modset in used_mods_by_sublist.items %}
          <h4>Sublist: <span class="bold">{{ sublist }}</span></h4>
          <div id="custom-cfg-grid2">
            <input class="customcfg-input-sublist" type="checkbox" id="{{ sublist.slug }}" name="{{ sublist.slug }}"/>
            <label class="customcfg-sublist" for="{{ sublist.slug }}">Check/uncheck all from this sublist</label>
          </div>
            <div id="custom-cfg-grid">
            <div class="bold">Enabled</div>
            <div class="bold">Mod Name (click to check/uncheck)</div>
            {% for lm in modset %}
              <div class="modenabled">
                <input class="customcfg-input {{ sublist.slug }}" data-parent="{{ sublist.slug }}" data-slug="{{ lm.mod.slug }}" type="checkbox" id="{{ lm.mod.slug }}" name="{{ lm.mod.slug }}"/>
              </div>
              <div class="modname">
                <label class="customcfg" for="{{ lm.mod.slug }}">{{ lm.mod }}</label>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </fieldset>
    <div class="center custom-cfg">
      <p>Click the "Submit" button below to receieve results for only the mods from {{ lm.modlist }} that you've enabled.</p>
      <input form="custom-cfg" type="submit" value="Submit Custom Setup" class="button button-primary" id="customcfg-submit" />
    </div>
    </form>

  {% endif %}

  <div class="line"></div>

  <p id="presets" class="center"><a href="#presets">Choose a preset:</a></p>
  <div class="center">
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='one-day-morrowind-modernization' %}">one day modernize</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='graphics-overhaul' %}">graphics overhaul</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='total-overhaul' %}">total overhaul</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='expanded-vanilla' %}">expanded vanilla</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='i-heart-vanilla' %}">i heart vanilla</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='i-heart-vanilla-directors-cut' %}">i heart vanilla dc</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='starwind-modded' %}">starwind modded</a>
    <a class="button button-primary" href="{% url 'cfg_generator3' preset='just-good-morrowind' %}">just good morrowind</a>
  </div>

  <div class="line"></div>

  <p class="center">Site navigation:</p>
  {% include "main-nav.html" with cur_page="cfg_generator" %}
{% endblock %}
{% block lower_js %}
  {% if DEBUG %}
    {% load static %}
    <script src="{% static 'js/custom-cfg-cfggen.js' %}"></script>
    <script src="{% static 'js/clean-settings-headings.js' %}"></script>
    <script src="{% static 'js/copy-to-clipboard.js' %}"></script>
  {% else %}
    <script src="/js/custom-cfg-cfggen.js"></script>
    <script src="/js/clean-settings-headings.js"></script>
    <script src="/js/copy-to-clipboard.js"></script>
  {% endif %}
{% endblock %}
