{% extends 'base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}

  <h4 class="center">Frequently Asked Questions</h4>

  <p class="center">Got a question? <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">Ask it</a>!</p>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span> Why can't the site have each modlist as one convenient ZIP package to make the process easier and faster?</li>
    <li><span class="bold">A:</span> The reason is an ethical one. A zip package would preclude users from downloading the files from its original sources, and that's a <span class="bold">no-no</span> in the modding community. However, there's a tool called Wabbajack that can merge the best of both worlds: practicality and ethics. They're working closely with us to provide versions for every modlist on the site.</li>
  </ul>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span> Why isn't mod "FOO" on here man?!</li>
    <li><span class="bold">A:</span> If there's a mod you'd like to see listed on this site, please don't hesitate to <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">submit a request issue on GitLab</a>!</li>
  </ul>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span> Can I request a change or an update of some kind?</span></li>
    <li><span class="bold">A:</span> Yes you can! Change requests are welcomed;  Please see <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">GitLab</a> to reach out.</li>
  </ul>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span>  Why don't you host a download for "Mod A"?  I don't like where I currently have to download it from!</li>
    <li><span class="bold">A:</span>  I will not re-host content from other sites without explicit permission from the original author to do so.  If you are a mod author that wants to host their file or files here, please feel free to <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">open an issue on GitLab</a>.</li>
  </ul>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span>  I think your site sucks!/I think your site is great!</li>
    <li><span class="bold">A:</span>  That's not a question, but thank you either way.  Whether you love or hate this site, I would love to hear about why (and even moreso, if you hate the site I'd love to hear what would make it better!)</li>
  </ul>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span> Is this site secure? Do you share your data with anybody else?</li>
    <li><span class="bold">A:</span> User privacy and security is important, so this site strives to offer the highest in HTTP-level encryption (see <a href="https://www.ssllabs.com/ssltest/analyze.html?d=modding%2dopenmw.com&hideResults=on&latest">this</a> test), and we do not share data with any third parties.</li>
  </ul>

  <ul style="list-style-type: none;">
    <li><span class="bold">Q:</span> Is there some place where I can see work-in-progress changes that might be hitting the site soon?</li>
    <li><span class="bold">A:</span> Yes!  Interested parties should go <a href="https://beta.modding-openmw.com/">here</a>.</li>
  </ul>

  {% include "main-nav.html" with cur_page="faq" prev_link='/tips/' next_link="/errata/" %}

{% endblock %}
