<p class="bold center">
  {% if cur_page == 'gs-buy' %}<button disabled="true">Buy Morrowind</button>{% else %}<a class="button button-primary" href="{% url 'gs-buy' %}">Buy Morrowind</a>{% endif %}
  {% if cur_page == 'gs-install' %}<button disabled="true">Install OpenMW</button>{% else %}<a class="button button-primary" href="{% url 'gs-install' %}">Install OpenMW</a>{% endif %}
  {% if cur_page == 'gs-settings' %}<button disabled="true">Tweak Settings</button>{% else %}<a class="button button-primary" href="{% url 'gs-settings' %}">Tweak Settings</a>{% endif %}
  {% if cur_page == 'gs-directories' %}<button disabled="true">Managing Mods</button>{% else %}<a class="button button-primary" href="{% url 'gs-directories' %}">Managing Mods</a>{% endif %}
  {% if cur_page == 'gs-tips' %}<button disabled="true">Tips</button>{% else %}<a class="button button-primary" href="{% url 'gs-tips' %}">Tips</a>{% endif %}
</p>
