{% extends 'base.html' %}
{% block title %}Getting Started: Managing Mods{% endblock %}
{% block content %}

  {% include "gs-nav.html" with cur_page="gs-directories" prev_link='/getting-started/settings/' next_link='/getting-started/tips/' %}

  <h3 class="center">Getting Started: <span class="bold">Managing Mods</span></h3>

  <p>Before you get started into a huge list of mods, it's important to have a way to be organized.  There's a few ways to go about this depending on your personal preference and possibly your OS, and the choice is yours...</p>

  <h4 id="toc">Table Of Contents</h4>

  <ul>
	<li><a href="#the-openmw-way">The OpenMW Way</a></li>
    <li><a href="#using-openmw-launcher">Using OpenMW-Launcher</a></li>
    <li><a href="#using-a-mod-manager">Using A Mod Manager</a></li>
    <li><a href="#what-is-the-data">What Is A Data Path?</a></li>
    <li><a href="#what-is-bsa">What Is A BSA File?</a></li>
    {# <li><a href="#what-is-plugin">What Is A Plugin?</a></li> #}
  </ul>

  <h4 id="the-openmw-way"><a href="#toc">The OpenMW Way</a></h4>

  <p>To ensure things stay organized and that you can easily add and remove anything at any time, you'll want to adhere to the directory structure provided by the data paths on each mod page on this website.  In order to make this an easy and painless process it is <span class="bold">highly recommended</span> that you use the <a href='/settings/'>User Settings</a> page where you can set up the base drive and folder structure for the vanilla Morrowind <code>Data Files</code> directory and also the directory where your mods will reside on your own personal setup.</p>

  <p>Additionally, this will allow for personalized scripts to deploy the plethora of folders required to organize your mods so that installing mods is as simple as downloading them and extracting the contents into the appropriate directory.  Simply click on one of the mod list presets below after setting up your <a href='/settings/'>User Settings</a> to generate this script.</p>

  <p>Choose a mod list to generate a script for as well as your operating system:</p>
  <form id="folder-deploy" action="#the-openmw-way" method="get">
    <select name="modlist">
      <option {% if modlist == "expanded-vanilla" %}selected{% endif %} value="expanded-vanilla">Expanded Vanilla</option>
      <option {% if modlist == "graphics-overhaul" %}selected{% endif %} value="graphics-overhaul">Graphics Overhaul</option>
      <option {% if modlist == "i-heart-vanilla" %}selected{% endif %} value="i-heart-vanilla">I Heart Vanilla</option>
      <option {% if modlist == "i-heart-vanilla-directors-cut" %}selected{% endif %} value="i-heart-vanilla-directors-cut">I Heart Vanilla: DC</option>
      <option {% if modlist == "just-good-morrowind" %}selected{% endif %} value="just-good-morrowind">Just Good Morrowind</option>
      <option {% if modlist == "one-day-morrowind-modernization" %}selected{% endif %} value="one-day-morrowind-modernization">One Day Morrowind Modernization</option>
      <option {% if modlist == "starwind-modded" %}selected{% endif %} value="starwind-modded">Starwind Modded</option>
      <option {% if modlist == "total-overhaul" %}selected{% endif %} value="total-overhaul">Total Overhaul</option>
    </select>
    <select name="os">
      <option {% if os == "windows" %}selected{% endif %} value="windows">Windows</option>
      <option {% if os == "linux" %}selected{% endif %} value="linux">Linux</option>
      <option {% if os == "macos" %}selected{% endif %} value="macos">macOS</option>
    </select>
    <input type="submit" value="Submit" />
  </form>

  {% if paths %}
    <div id="file-ext" data-ext="{% if os == 'linux' or os == 'macos' %}sh{% else %}ps1{% endif %}"></div>
    <div id="file-modlist" data-modlist="{{ modlist }}"></div>
    <p class="bold" style="font-size: 1.5em;">The file should be downloaded!</p>
    <a class="bold" style="font-size: 1.5em;" id="dl-script"></a>
    <details style="margin-bottom: 50px;">
      <summary style="font-size: 1.5em;" class="bold">Click to expand and see the script:</summary>
      <pre><code id="data-paths">{% if os != "windows" %}#!/bin/sh
{% endif %}
{{ paths }}
echo All folder paths have been created!</code></pre>
    </details>
  {% endif %}

  <p>Windows users will need to run Windows Powershell and use the following command (be sure to replace the folder path to reflect your own):</p>
  <p><code>Powershell.exe -executionpolicy bypass -File "C:\Path\To\momw-folder-generator-modlist.ps1"</code></p>

  <p>The final step on every modlist will have you use the <a href='/cfg-generator/'>CFG Generator</a> to generate your load order which you will need to copy and paste into the corresponding configuration files on your system.</p>

  <p>The advantage of doing things "The OpenMW Way" is that you have much more control and understanding of how your modlist works and what it contains.  The modlists are merely recommendations and you are encouraged to add or omit any mods you see fit as long as you consider that some mods are pre-requisites for others and that some mods conflict with others.  Refer to the description, documentation, and comments for those mods for that information, if available, or join us in the <a href='https://discord.gg/KYKEUxFUsZ'>Discord Server</a> to see if the community can assist with any issues you might encounter or questions you have.</p>

    <h4 id="using-openmw-launcher"><a href="#toc">Using OpenMW-Launcher</a></h4>

    <div class="center"><iframe width="560" height="315" src="https://www.youtube.com/embed/xzq_ksVuRgc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

  <p>
    As of OpenMW 0.48, the OpenMW-Launcher program can now handle almost all of the tasks required for heavy modding. This will work on any OS that's officially supported by OpenMW, the process is as follows:
  </p>

  <ol>
    <li>Download the archive for a mod (<a href="https://www.nexusmods.com/morrowind/mods/42145">Tamriel Rebuilt</a>, for example)</li>
    <li>Create a folder for it somewhere (e.g. <code>C:\games\OpenMWMods\TamrielRebuilt</code>)</li>
    <li>Extract the mod archive into this folder</li>
    <li>Run OpenMW-Launcher</li>
    <li>Click the "Data Files" icon at the top</li>
    <li>Click the "Data Directories" tab</li>
    <div class="center" style="margin-bottom: 30px;">
      <img class="pic" src="/images/launcher-data-dirs-initial.png" />
      <figcaption>No mod data paths added yet.</figcaption>
    </div>
    <li>Click the "Append" button on the right side</li>
    <li>Locate the folder you created above and click "Choose"
      <ul>
        <li>Note that you can pick a folder with multiple data paths in it and OpenMW-Launcher will find them all and prompt you to select which ones to add</li>
        <div class="center" style="margin-bottom: 30px;">
          <img class="pic" src="/images/launcher-choose-multi.png" />
          <figcaption>I selected the <code>TamrielRebuilt</code> folder, which contained many data paths.</figcaption>
        </div>
      </ul>
    </li>
    <li>Reorder data paths as needed</li>
    <div class="center" style="margin-bottom: 30px;">
      <img class="pic" src="/images/launcher-data-dirs-added.png" />
      <figcaption>The paths I selected have now been added.</figcaption>
    </div>
    <li>Click the "Archive Files" tab to <a href="{% url 'tips-register-bsas' %}">register BSA files</a></li>
    <li>Click the "Navigation Mesh Cache" tab to <a href="{% url 'tips-navmeshtool' %}">pre-cache navmeshes</a></li>
    <li>Click the "Content Files" tab to enable and re-order plugin files. Refer to <a href="/cfg/">the CFG Generator</a> for a correct load order reference</li>
    <div class="center" style="margin-bottom: 30px;">
      <img class="pic" src="/images/launcher-content-files.png" />
      <figcaption>Activate and reorder plugin files.</figcaption>
    </div>
    <li>You can name your current setup by clicking the box beneath where it says "Content List" and entering a new name of your choosing</li>
  </ol>

  <p>
    Still not handled by the OpenMW-Launcher program are <a href="{% url 'mod_category_detail' slug='groundcover' %}">groundcover files</a>. The correct installation method for those are presented on the detail page for each individual mod and also the CFG Generator.
  </p>

  <h4 id="using-a-mod-manager"><a href="#toc">Using A Mod Manager</a></h4>

  <p>
    Note: Unless you are an advanced user it is <span class="bold">not recommended</span> to use mod managers for OpenMW. This may seem contrary to your experience with other games, but the reason this is only recommended for advanced users is because OpenMW by default already supports the Virtual File System feature of mod managers such as Mod Organizer 2 and also because none of the currently available mod managers fully support all of OpenMW's features such as how groundcover is handled and also <code>.omwaddon</code> and <code>.omwscripts</code> files without additional steps.  That said, there are advantages to using, for example, the feature of Mod Organizer 2 which shows what files overwrite others.  It is therefore recommended for entry-level users to install mods <a href="#the-openmw-way">the OpenMW way</a>.</p>
  </p>

  <ul>
    <li><a href="{% url 'mod_detail' slug='portmod' %}">Portmod</a> was built from the ground up for OpenMW, and has the capability to support easy installations for groups of mods such as the lists on this website. Although it's command-line only, it has features to automate virtually every step of the modding process. It and its repositories are in active development. Portmod scripts specifically for the mod lists on this website have not yet been made, and they are always looking for contributors to help keep things up to date.</li>
    <li>Mod Organizer 2 is a popular mod manager made for games that don't have the content management features found in OpenMW. <a href="{% url 'mod_detail' slug='modorganizer-to-openmw' %}">A plugin can add partial support</a>, but it doesn't support <code>omwaddon</code>, <code>omwscripts</code> or groundcover files (and will instead incorrectly activate groundcover as content files).</li>
  </ul>

  <p>
    No single mod manager is officially supported or endorsed by this website, but you may find tips specific to a particular mod manager where it's deemed appropriate to do so (usually when there's a potential issue to be avoided).
  </p>

  <h4 id="what-is-the-data"><a href="#toc">What Is A Data Path?</a></h4>

    <p>
      Every mod you install has one mandatory component - a <code>Data Path</code>.
      A data path is simple - it's a single folder, which emulates or resembles the content and structure of Morrowind's <code>Data Files</code> folder.
      This is where plugins including <code>ESM</code>, <code>ESP</code>, <code>omwaddon</code>, and <code>omwscripts</code> files live.
      Also contained here can be a <b>specific</b> range of folders which contain other types of game assets, like scripts and fonts.
      Some mods may only come with one or the other, but nothing else constitutes a valid Data Path.
      A given mod may have more than one valid data path and not all may even be used, but each one will always resemble this structure.
      <br><br>

      <font size="+1"><b>
          Note! Some mods may indeed contain one or more folders named <code>MWSE</code>.
          These will neither break OpenMW nor do anything at all.
          Consult a specific mod's download page for information about its MWSE components.
      </b></font>
    </p>

    <div class="center" style="margin-bottom: 30px;">
      <img class="pic" src="https://i.imgur.com/4khm8Tr.png"/>
      <figcaption>Example of a valid Data Files folder.</figcaption>
    </div>

    <p>
      Each of the different types of files you can encounter are highlighted here. In purple, are all the different folders which might be contained inside of a valid data path. Highlighted in yellow and red are plugins and archives, respectively. Plugins and archives are optional for mods such as replacers, but a data path will <b>always</b> be present.
    </p>

    <p>
      Here is a screenshot of tamriel_data's 2023 Aanthirin release and what it would look like in your openmw.cfg:
    </p>

    <div class="center" style="margin-bottom: 30px;">
      <img class="pic" src="https://i.imgur.com/yiYsOJt.png"/>
      <figcaption>In this example, the data path would be "/home/sk3shun-8/openmw/openmw_mods/TR_Data_Aanthirin/"</figcaption>
    </div>


    <pre><code>fallback_archive=PC_Data.bsa
fallback_archive=Sky_Data.bsa
fallback_archive=TR_Data.bsa
. . . . . . .
data=/home/sk3shun-8/openmw/openmw_mods/TR_Data_Aanthirin/
. . . . . . .
content=Tamriel_Data.esm</code></pre>


    <p>
      The line starting with data= is your data path, as it would be added by the openmw launcher or if you wrote it in openmw.cfg. If this is incorrect, your <code>fallback_archive</code> and <code>content</code> entries for that specific mod will also not work. Always ensure the paths listed in your openmw.cfg actually match up with where the related files are stored on your computer.
    </p>

    <h4 id="what-is-bsa"><a href="#toc">What Is A BSA File?</a></h4>

    <p>
      BSA is a somewhat rare file type to encounter but they are part of some popular mods, such as Tamriel Rebuilt.
      BSA stands for Bethesda Softworks Archive - sometimes simply referred to as "archives" due to their similarity with tradtional archive formats you may recognize such as .rar, .zip, or .7z.
      In layman's terms, it's a simple box full of files and nothing more than that.
      Any given BSA file's content will match the above example of what a valid Data Path looks like.
      <br>
      For the intrepid, openmw actually comes with an app, <code>bsatool</code>, which you can use to extract the contents of a BSA file and use as a data path instead;
      this can be useful when using Blender or NifSkope for example to view models, but is not recommended for most OpenMW users.
      <br>
      <br>
      <font size="+1"><b>
          Note! BSA's capabilities have changed across iterations of Bethesda's engine.
          Thanks to advancements in OpenMW, some rules of the format have been bent or broken.
          Namely, modders and users who simply <i>want to</i> have the option to <a href="https://www.nexusmods.com/newvegas/mods/64745">repackage their mods</a> into a much newer version of the format that can contain more types of files, have support for compression, and can be up to 4GB large versus the traditional limit of 2GB. Doing so can potentially recover significant amounts of storage space, but it is an advanced step that is not recommended for all users.
      </b></font>
    </p>

  {% include "gs-nav.html" with cur_page="gs-directories" prev_link='/getting-started/settings/' next_link='/getting-started/tips/' %}

  {% include "main-nav.html" with cur_page="gs-directories" prev_link=False next_link=False %}

{% endblock %}
