{% extends 'base.html' %}
{% block title %}Developers' Guide{% endblock %}
{% block content %}
  <h1>Developers' Guide</h1>

  <p>
    Are you interested in helping build out this website? This page will help you get started!
  </p>

  <h2>Table of contents</h2>

  <ul>
    <li><a href="#prerequisites">Prerequisites</a></li>
    <li><a href="#get-source">Get The Source</a></li>
    <li><a href="#running-the-website">Running The Website</a></li>
    <li><a href="#running-tests">Running The Tests</a></li>
    <li><a href="#making-changes">Making A Change To The Website</a></li>
    <li><a href="#running-without-docker">Running Without Docker</a></li>
  </ul>

  <h3 id="prerequisites"><a href="#prerequisites">Prerequisites</a></h3>

  <p>
    The following are required to follow this guide:
  </p>

  <ul>
    <li><a href="https://www.docker.com/">Docker</a></li>
    <li><a href="https://docs.docker.com/compose/">Docker Compose</a></li>
    <li><a href="https://git-scm.com/">Git</a></li>
    <li>Optional: GNU make</li>
  </ul>

  <p>
    The website is written with the <a href="https://www.djangoproject.com/">Django web framework</a>, which is itself written with <a href="https://www.python.org/">Python</a>. Knowledge of Python and/or web programming are nice, but not strictly required to contribute. Knowledge of how to use git is very beneficial.
  </p>

  <p>
    It's also a good idea to get yourself a text editor that is aware of: Python, HTML, CSS, Javascript, YAML, and TOML
  </p>

  <h3 id="get-source"><a href="#get-source">Get The Source</a></h3>

  <p>
    You can download or clone the website source code <a href="https://gitlab.com/modding-openmw/modding-openmw.com">from GitLab</a>.
  </p>

  <pre><code>cd /some/path
git clone https://gitlab.com/modding-openmw/modding-openmw.com</code></pre>


  <h3 id="running-the-website"><a href="#running-the-website">Running The Website</a></h3>

  <p>
    To run the website from your local source code:
  </p>

  <pre><code>cd /path/to/modding-openmw.com
./bin/docker-reset.sh
docker-compose up --build momw-django --exit-code-from momw-django

# Or:
make docker-run</code></pre>

  <h3 id="running-tests"><a href="#running-tests">Running Tests</a></h3>

  <p>
    To run source code tests from your local source code:
  </p>

  <pre><code>cd /path/to/modding-openmw.com
./bin/docker-reset.sh
docker-compose up --build momw-tests --exit-code-from momw-tests

# Or:
make docker-tests</code></pre>

  <h3 id="making-changes"><a href="#making-changes">Making A Change To The Website</a></h3>

  <p>
    If you have a change you'd like to see merged into the website codebase, the process looks something like this:
  </p>

  <ul>
    <li>Create a GitLab account if you don't already have one.</li>
    <li>Fork the website source code</li>
    <li>Push your changes to your fork</li>
    <li><a href="https://docs.gitlab.com/ee/user/project/merge_requests/getting_started.html">Open a merge request</a></li>
  </ul>

  <p>
    A website maintainer will be notified of your merge request and review it. From there, the path to merging depends on the nature of your change and the availability of maintainers to review and test the changes.
  </p>

  <h3 id="running-without-docker"><a href="#running-without-docker">Running Without Docker</a></h3>

  <p>
    This method is for advanced users, it is not supported on Windows. Linux is strongly recommended and is what the text below is written for but it could be adapted for macs.
  </p>

  <ol>
    <li>Install postgresql client and server packages via your system package manager, ensure the server is running and usable</li>
    <li>Also install Firefox, <code>psycopg2</code> or <code>python3-psycopg2</code>, and GNU make via your system package manager</li>
    <li><a href="https://github.com/mozilla/geckodriver/releases">Download the geckodriver binary</a> and extract it to some place that's in <code>$PATH</code></li>
    <li>From the root of the website source code, run: <code>python3 -m pip install -r requirements.txt</code></li>
    <li><span class="bold">The next few steps require elevated privileges:</span>
      <ol>
        <li>Open an admin psql shell: <code>sudo -u postgres psql</code></li>
        <li>Create a user for your login user (replace with your actual username): <code>postgres=# create user johnnyhostile;</code></li>
        <li>Give database creation privileges: <code>postgres=# alter user johnnyhostile with createdb;</code></li>
        <li>Create a user for the application: <code>postgres=# create user momwdb password 'postgresqlpassword';</code></li>
        <li>Give database creation privileges part 2: <code>postgres=# alter user momwdb with createdb;</code></li>
      </ol>
    </li>
    <li>Run: <code>make reset server</code></li>
  </ol>

  <p>
    At this point, you should be able to interact with the codebase as expected. To run tests, do: <code>make reset test</code>
  </p>
  {% include "main-nav.html" with cur_page="guides_developers" %}
{% endblock %}
