{% extends 'base.html' %}
{% block title %}Users' Guide{% endblock %}
{% block content %}
  <h1>Users' Guide</h1>

  <p>
    How do you use this website? How do you get the most out of all the information presented here? This page should answer those questions and more!
  </p>

  <h2>Table of contents</h2>

  <ul>
    <li><a href="#setup-steps">Setup Steps</a></li>
    <li><a href="#choose-mod-list">Choose A Mod List</a></li>
	<li><a href="#managing-mods">Managing Mods</a></li>
    <li><a href="#reading-mod-detail">Reading A Mod Detail Page</a></li>
    <li><a href="#final-steps-verification">Final Steps & Verification</a></li>
    <li><a href="#tips-review">Tips Review</a></li>	
    <li><a href="#upcoming-changes">Upcoming Changes</a></li>
    <li><a href="#report-problem">Report A Problem Or Ask A Question</a></li>
    <li><a href="#whats-next">What's Next?</a></li>
  </ul>

  <h3 id="setup-steps"><a href="#setup-steps">Setup Steps</a></h3>

  <p>
    The first things required to get going are: <a href="{% url 'gs-buy' %}">buy a copy of Morrowind</a> and <a href="{% url 'gs-install' %}">install OpenMW</a>.
  </p>

  <blockquote>
    Note that Android is not officially supported by the OpenMW project or this website, and that version handles content management differently than every other version so a lot of what's talked about on this website may not apply.
  </blockquote>

  <p>
    Once you've got OpenMW installed and able to run stock Morrowind, it's time to take a look at the various <a href="{% url 'gs-settings' %}">settings</a> that are available via the Launcher and cfg files.
  </p>

  <h3 id="choose-mod-list"><a href="#choose-mod-list">Choose A Mod List</a></h3>

  <p>
    <a href="{% url 'mod-lists' %}">Browse the catalogue of mod lists</a> and pick one that sounds good to you. Although many mods depend on something else to function properly, the majority of mods in most lists can be skipped or swapped for an alternate if desired. Please note that the larger mod lists do take quite a bit more time and effort to set up properly and are generally not recommended for first-time players of Morrowind. Check out Just Good Morrowind or I Heart Vanilla for a much faster and more vanilla-friendly experience.
  </p>

  <p>
    Below is a list of the main mod lists and their descriptions:
  </p>

  <ul>
    {% for list in mod_lists %}
      {% if list.title != "TES3MP Server" %}
        <li><span class="bold">{{ list.title }} ({{ list.mod_count }} mods)</span>: {{ list.short_description|safe }}</li>
      {% endif %}
    {% endfor %}
  </ul>

  <h3 id="managing-mods"><a href="#managing-mods">Managing Mods</a></h3>
  <p>
    After you choose a mod list it's important to understand how mods are installed using OpenMW. OpenMW supports a dynamic virtual file system where you install mods in folders on your system entirely of your own choosing. For your convenience, however, it is highly recommended to adhere to the directory structure provided by the data paths on each mod page on this website. To make this even easier you can personalize the root folder paths by visiting the <a href="{% url 'user_settings' %}">User Settings</a> page and setting the root folder path as it will be on your own system. Visit the <a href="/getting-started/managing-mods/">Managing Mods</a> page for a more details and also for a <a href="{% url 'gs-directories' %}#the-openmw-way">handy script</a> which will generate all of the folders you need!
  </p>

  <h3 id="reading-mod-detail"><a href="#reading-mod-detail">Reading A Mod Detail Page</a></h3>
  <p>
    Each mod detail page has two tables of information. The top table includes general information about the mod and the bottom table contains instructions for installation. <a href="{% url 'example-mod-page' %}">This page</a> details what each field contains. Feel free to open this page on a separate browser tab in case you need a reminder.
  </p>
  <p>
    Additionally, users of mod lists will want to make sure they have set their root folder paths on the <a href = "{% url 'user_settings' %}">User Settings</a> page. Doing this will ensure that all the folder paths will reflect your own on each mod page and the CFG Generator for ease of use. Again, it is highly recommended that mod list users adhere strictly to the naming schemes for folder paths and plugins listed on each mod detail page for your own convenience.
  </p>
  <p>
    Once you have installed the mod on your system be sure to hit the <code>Enable for CFG Generator</code> button, or check the box on the mod list detail page in order to keep track of your progress and also to have a personalized <a href="{% url 'cfg_generator3' %}">CFG Generator</a> output which is very useful if you want to test your progress at any point during installation. It is important to keep in mind that some mods require assets from other mods you install later on, so it is expected for minor issues to occur before the list has been completed.
  </p>

  <h3 id="final-steps-verification"><a href="#final-steps-verification">Final Steps & Verification</a></h3>

  <p>
    Each mod list has a "Final Checklist" page that offers some final tips for rounding out your setup (<a href="{% url 'mod-list-final' slug='expanded-vanilla' %}">Expanded Vanilla's final page</a>, as an example).
  </p>

  <p>
    <a href="{% url 'cfg_generator3' %}">The CFG Generator</a> should be your last step, it's where you can get accurately sorted <code>data=""</code> paths, <code>fallback-archive=</code> (BSA), <code>content=</code>, and <code>groundcover=</code> plugin load orders for each mod list. It is highly recommended that mod list users adhere to the naming schemes for folder paths and plugins listed on each mod detail page for your own convenience.
  </p>

  <p>In order to get the most out of the CFG Generator be sure to visit the <a href = "{% url 'user_settings' %}">User Settings</a> page to set your base folder path as well as your Morrowind install path. This will ensure that the data paths you copy out of the CFG Generator are (or can be) accurate to what's on your computer.</p>

  <h3 id="tips-review"><a href="#tips-review">Tips Review</a></h3>

  <p>
    A few pages that you'll want to reference while on your modding journey:
  </p>

  <ul>
    <li>The <a href="{% url 'tips-performance' %}">Performance Tips</a> page gives an overview of the various options for adjusting visual quality and performance</li>
    <li>The <a href="{% url 'tips-navmeshtool' %}">Navmeshtool</a> page is referenced from the <a href="{% url 'gs-directories' %}">Managing Mods</a> page, but if you didn't see it already take a look</li>
    <li>The <a href="{% url 'tips-register-bsas' %}">Registering BSAs</a> page is also referenced from the <a href="{% url 'gs-directories' %}">Managing Mods</a> page, check it out</li>
  </ul>

  <h3 id="upcoming-changes"><a href="#upcoming-changes">Upcoming Changes</a></h3>

  <p>
    Wondering if there's going to be an update soon? Want to know what's being worked on with this website? All changes to the website go out to <a href="https://beta.modding-openmw.com/">the beta site</a> first, but you can also refer to <a href="https://gitlab.com/modding-openmw/modding-openmw.com/activity">the GitLab activity log</a> to see what's been going on with the project.
  </p>

  <h3 id="report-problem"><a href="#report-problem">Report A Problem Or Ask A Question</a></h3>

  <p>
    If you have a specific problem or question you can feel free to reach out to the project via one of many ways:
  </p>

  <ul>
    <li><a href="https://web.libera.chat/?channels=#momw">Join the project IRC channel</a> (which is also bridged to Discord)</li>
    <li><a href="https://discord.gg/KYKEUxFUsZ">Join the project Discord channel</a> on the official OpenMW server</li>
    <li><a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/new">Submit a bug on the issue tracker</a> or <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">check existing issues</a></li>
  </ul>

  <h3 id="whats-next"><a href="#whats-next">What's Next?</a></h3>

  <p>
    From here, if you've got further interest in the community - come hang out in the project <a href="https://discord.gg/KYKEUxFUsZ">Discord</a> or <a href="https://web.libera.chat/?channels=#momw">IRC</a> channels and discuss all things related to this project, OpenMW, and Morrowind modding in general.
  </p>

  <p>
    Please also feel free to check <a href="https://www.twitch.tv/johnnyhostile">the project Twitch stream</a>. The website creator streams twice a week and works on improving and updating the website.
  </p>

  <p>
    There's also <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">the project issue tracker on GitLab</a> where you can view existing issues or file a new one if you find something that needs to be fixed or updated.
  </p>

  <p>
    This website's mod lists and content receive regular updates, including each week on the regular project stream, so be sure to check <a href="{% url 'changelogs' %}">the mod list</a> and <a href="{% url 'changelogs-website' %}">website changelogs</a> often. And happy modding!
  </p>

  {% include "main-nav.html" with cur_page="guides_users" %}

{% endblock %}
