{% extends 'base.html' %}
{% block title %}How To Get A Mod Into The Site Database{% endblock %}
{% block content %}

  <h2>How To Get A Mod Into The Site Database</h2>

  <p>Is there a mod you use or have used that isn't listed on this site?  Are you interested in helping get it on here?  Then please, read on!</p>

  <h3 id="request-to-record">From Request To Record</h3>

  <p>There are a few paths for a mod to get onto this site:</p>

  <ul>
    <li>Submit a request via email</li>
    <li>Open an issue on the git repo</li>
    <li>Create a patch or PR</li>
  </ul>

  <p>Each item above takes a bit more effort than the last.  Please read on to find out more about this process.</p>

  <h3 id="direct-request">Making A Direct Request</h3>

  <p>The easiest way to get the ball rolling on getting a new mod into the database is to simply make a request via email, IRC, or any other means of direct contact.  Some basic information is required, then it will be up to the site admin (or potentially another contributor) to actually add the mod.</p>

  <h3 id="open-issue">Opening An Issue</h3>

  <p>This method requires an account on the official site git repository.  With an account there, one may simply open an issue and provide the relevant information in the description.  As above, after this is done it will be up to someone to handle the mod's addition.</p>

  <h3 id="code-patch">Code Patch Or PR</h3>

  <p></p>

  <h3 id="whats-needed">What's Needed</h3>

  <p></p>

  <h4>Direct Request & Open An Issue</h4>

  <p></p>

  <h4>Code Patch Or PR</h4>

  <p></p>

{% endblock %}
