{% extends 'base.html' %}
{% block title %}Welcome{% if momw_ver %} to the {{ momw_ver|upper }}{% endif %}{% endblock %}
{% block content %}
  <p class="center">A website dedicated to modding and modernizing Morrowind with <a href="http://openmw.org/">OpenMW</a>!

    {# <h5 class="bold center">Start Here:</h5> #}
    <div class="center">
      <a class="button button-primary" href="{% url 'guides-users' %}">Start Here</a>
    </div>

    <div class="line" style="margin-top: 14px;"></div>

    <h5 class="bold center">Choose a mod list:</h5>
    <div class="center">
      <a class="button button-primary" href="{% url 'mod_detail' slug='rwc-robowind' %}"><div>RWC (Robowind)</div><div class="button-count">New, original game</div></a>
      <a class="button button-primary" href="{% url 'mod-list-detail' slug='i-heart-vanilla' %}"><div>I Heart Vanilla</div><div class="button-count">{{ ihv_count }} mods</div></a>
      <a class="button button-primary" href="{% url 'mod-list-detail' slug='expanded-vanilla' %}"><div>Expanded Vanilla</div><div class="button-count">{{ ev_count }} mods</div></a>
      <a class="button button-primary" href="{% url 'mod-list-detail' slug='total-overhaul' %}"><div>Total Overhaul</div><div class="button-count">{{ to_count }} mods</div></a>
      <a class="button button-primary" href="{% url 'mod-lists' %}"><div>Browse All Lists</div><div class="button-count">{{ mod_list_count }} mod lists</div></a>
    </div>

    <div class="line" style="margin-top: 14px;"></div>

    <div class="center">
      <h5 class="bold center">Connect:</h5>
      <a class="button button-primary" href="{% url 'subscribe' %}">Subscribe</a>
      <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">Issue Tracker</a>
      <a class="button button-primary" href="https://discord.gg/KYKEUxFUsZ">MOMW On Discord</a>
      <a class="button button-primary" href="https://web.libera.chat/?channels=#momw">MOMW On IRC</a>
    </div>

    <div class="line" style="margin-top: 14px;"></div>

    <h5 class="bold center">What's New:</h5>
    <div class="center">
      <a class="button button-primary" href="{% url 'changelogs' %}">Mod List Changelogs</a>
      <a class="button button-primary" href="{% url 'changelogs-website' %}">Website Changelog</a>
      <a class="button button-primary" href="{% url 'latest_mods' %}">Latest Mod Updates</a>
    </div>

    <div class="center" title="Watch the website creator live stream working on the website, modding, playing OpenMW, and more!">
      <iframe
        id="twitch"
        src="https://player.twitch.tv/?channel=johnnyhostile&parent={{ hostname }}&muted=true"
        allowfullscreen>
      </iframe>
    </div>

{% endblock %}
