{% extends 'base.html' %}
{% block title %}Your IP address is: {{ ip }}{% endblock %}
{% block content %}

  <h1>Your IP address is:</h1>

  <p id="ip">
    <code>
      {{ ip }}
    </code>
  </p>

{% endblock %}
