{% extends 'base.html' %}
{% block title %}Latest {{ latest_count }} Mod Additions/Updates{% endblock %}
{% block content %}
  <div class="center">
    <h3 class="center">Latest {{ latest_count }} Mod Additions/Updates</h3>
    <div><p>Below are the {{ latest_count }} most recently added or updated mods!</p></div>
    <p>Click <a href="{% url 'mod_feed' %}">here</a> for an Atom feed.</p>
    <p>
      {% include 'mods-nav.html' with cur_page="latest_mods" %}
    </p>
    {% include 'mod_table.html' with latest=True mods=mods show_category=True %}
  </div>

  {% include "main-nav.html" with cur_page="all_mods" prev_link=False next_link=False %}

{% endblock %}
