{% extends "base.html" %}

{% block title %}Curated Mod Lists{% endblock %}

{% block content %}
  <h1>Curated Mod Lists</h1>

  <p>Various mod lists are provided below, click on one for more information about it and to browse as well.  Want to host your own list here?  Please see the short guide on <a href="{% url 'add-a-list' %}">how to add your list</a> if you're interested.</p>

  <h2>Wabbajack Lists</h2>

  <p>
    Mod lists using <a href="https://www.wabbajack.org/">the Wabbajack tool</a>.
  </p>

  <div id="mod-list-grid">
    <div>List Name</div>
    <div>Description</div>
    <div>Author</div>
    {% for l in wabbajack_lists %}
      <div class="listtitle"><a class="bold" href="{{ l.url }}">{{ l.name }}</a></div>
      <div class="listdesc">{{ l.description|safe }}</div>
      <div class="listcount">{{ l.author|safe }}</div>
    {% endfor %}
  </div>

  <h2>MOMW Lists</h2>

  <p>
    Our mod lists, created and maintained by the website team.
  </p>

  <div id="mod-list-grid">
    <div>List Name</div>
    <div>Description</div>
    <div>Mod Count</div>
    {% for l in mod_lists %}
      <div class="listtitle"><a class="bold" href="{{ l.get_absolute_url }}">{{ l.title }}</a></div>
      <div class="listdesc">{{ l.short_description|striptags }}</div>
      <div class="listcount">{{ l.mod_count }}</div>
    {% endfor %}
  </div>

  {% include "main-nav.html" with cur_page="mod-lists" %}

{% endblock %}
