{% extends 'base.html' %}
{% block title %}Final Checklist: {{ mod_list.title }}{% endblock %}
{% block content %}
  <h2>
    Final Checklist: {{ mod_list.title }}
  </h2>

  <p>
    Now that you've gone through the entire mod list you may be eager to jump in and play - but it's worthwhile to stop here and do a sanity check to ensure you'll have the best longterm play experience possible.
  </p>

  <p>
    Try to go through each step as outlined below to make sure your setup is golden.
  </p>

  <p>
    <a href="{% url 'mod-list-step-detail' mod_list.slug mod_list.mod_count %}">Back to the end of the "{{ mod_list.title }}" modlist.</a>
    {# <a href="">Back to the end of the "{{ mod_list.title }}" modlist.</a> #}
  </p>

  <h4>Table Of Contents</h4>

  <ul>
    <li><a href="#validate-configs">Validate Your Configs</a></li>
    {% if mod_list.slug != "starwind-modded" %}<li><a href="#merged">Patches: Merged Plugin</a></li>{% endif %}
    {% if to_clean %}<li><a href="#cleaning">Cleaning</a></li>{% endif %}
    <li><a href="#run-the-game">Run The Game</a></li>
  </ul>

  <h3 id="validate-configs"><a href="#validate-configs">Validate Your Configs</a></h3>

  <p>
    If you're using some kind of mod managing software such as Mod Organizer 2, be sure to check that for file overwrites and conflicts. This is a good way to make sure that textures you prefer end up loaded, instead of something else.
  </p>

  <p>
    If you're doing things manually, or just don't mind using command-line programs and want more insight into your setup: I've created the <a href="{% url 'mod_detail' slug='openmw-validator' %}"><code>openmw-validator</code> tool</a> which will report on various potential errors in your <code>openmw.cfg</code> file, as well as report on specific data paths.
  </p>

  <p>
    Validation tools are a good way to make sure you've not made any typos or other mistakes, and that everything you intend to use is used properly.
  </p>

  <p>
    Please also refer to <a href="{% url 'cfg_generator3' %}">the CFG Generator</a> for a reference on what your load order should look like.
  </p>

  <p>
    Click the "Presets" link, then the button labeled "{% if mod_list.slug == 'i-heart-vanilla-directors-cut' %}I HEART VANILLA DC{% elif mod_list.slug == 'one-day-morrowind-modernization' %}ONE DAY MODERNIZE{% elif mod_list.slug == 'starwind-modded' %}STARWIND MODDED{% else %}{{ mod_list.title|upper }}{% endif %}". The page will reload, presenting you with the complete data path and plugin load order, as well as any extra settings that may be required.
  </p>

  {% if mod_list.slug != "starwind-modded" %}
  <h3 id="merged"><a href="#merged">Patches: Merged Plugin</a></h3>

  <p>
    You'll also want to create a merged plugin (to merge game objects) with <a href="{% url 'mod_detail' slug='delta-plugin' %}">Delta Plugin</a>. Please see <a href="{% url 'tips-merging-objects' %}">this page</a> for more resources on the topic of object merging.
  </p>

  <p>
    Do not skip this step; many mods require object merging in order to function as intended.
  </p>
  {% endif %}

  {% comment %}
  {% if mod_list.slug == "total-overhaul" or mod_list.slug == "graphics-overhaul" %}
    <p>
      In order for <a href="/mods/vtasteks-shaders/">Vtastek's Shaders</a> to function properly, a special plugin needs to be generated for various light changes.
    </p>

    <p>
      I provide the plugins you'll need if you are folling any of the lists on this website exactly (see the shaders link above), but if you are using any additional mods at all, you'll want to follow <a href="/tips/custom-shaders/#vtasteks-shaders">this guide</a> on generating your own plugin so that any added cells are properly lit.
    </p>
  {% endif %}
  {% endcomment %}

    {% if to_clean %}
    <h3 id="cleaning"><a href="#cleaning">Cleaning</a></h3>

    <p>
      It can be tempting to skip cleaning since the process is quite tedious, however dirty plugins can affect the game in unexpected ways.
    </p>

    <p>
      As a reminder: this mod list has <span class="bold">{{ to_clean|length }}</span> plugin{{ to_clean|pluralize }} that need cleaning:
    </p>

    <pre><code>{% for p in to_clean %}{{ p }}
{% endfor %}</code></pre>

    <p>
      Please see <a href="{% url 'tips-cleaning' %}">this page</a> for more information on cleaning plugins.
    </p>
  {% endif %}

  <h3 id="run-the-game"><a href="#run-the-game">Run The Game</a></h3>

  <p>
    Last, but not least: run the game to see how it looks and all that.
  </p>

  <p>
    OpenMW has a handy testing feature that's described <a href="{% url 'tips-performance' %}#how-to-test">here</a>, be sure to use that to quickly spawn into various areas as desired. Maybe there's a texture you still want to replace, or a problem you found (please <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">let us know</a> if that's the case!), in any case it is definitely worthwhile to spend time testing before you take the deep plunge.
  </p>

  <p>
    This is also a good time to nail down performance and quality settings. With a reasonably modern GPU, it should be possible to run Morrowind via OpenMW with high amount of visual detail. See the entire <a href="{% url 'tips-performance' %}">performance guide</a> for more information.
  </p>

{% endblock %}
