{% extends "base.html" %}

{% block meta %}
  <meta property="og:site_name" content="Modding-OpenMW.com" />
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ mod_list.get_absolute_url }}">
  <meta property="og:title" content="{{ mod_list }}">
  <meta property="og:description" content="{{ mod_list.short_description }}">
  <meta property="og:image" content="https://modding-openmw.com/favicon.png">
{% endblock %}

{% block title %}{{ mod_list.title }}{% endblock %}

{% block content %}
  <h2>{% if modlist_is_parent or not mod_list.parent_list %}Mod {% else %}Sub{% endif %}List: <span class="bold">{{ mod_list.title }}</span></h2>

  <h4><span class="bold">{{ modlist_mod_count }}</span> {% if mod_list.title == "TES3MP Server" %}scripts{% else %}mod{{ modlist_mod_count|pluralize }}{% endif %}</h4>

  <h3>List Usage</h3>

  <p>
    Mod list usage instructions:
  </p>

  <ul>
    <li>Install each mod from the list in order.</li>
    <li>Check out the <a href="{% url 'gs-directories' %}#using-openmw-launcher">Managing Mods</a> page as a reference on how to install mods using the OpenMW-Launcher program.</li>
    <li>Also, check out this <a href="{% url 'example-mod-page' %}">Example Mod Page</a> for help on how to use each mod page.</li>
    <li>Pay attention to mod descriptions and special usage notes.
      <ul>
        <li>You won't necessarily enable all plugins and data paths from each mod; many mods on the list will only use some of what they provide. Don't enable everything, refer to the CFG Generator output for a correct loadout (more on that below).</li>
      </ul>
    </li>
    <li>Be sure to consult <a href="{% url 'tips-performance' %}">the performance guide</a> for getting the most performance out of your setup.</li>
    <li>Each mod page will have a "Enable For CFG Generator" button, click this on each mod you've setup to get a partial config from the CFG Generator. <a href="{% url 'enable-in-cfg-generator-button' %}">See this page for more information</a>.
      <ul>
        <li>This will allow you to generate a partial CFG as you go so that you can test your progress. This is very important!</li>
        <li>In order for this to work as intended you must follow the folder path locations for each mod exactly!</li>
      </ul>
    </li>
    <li>When you've finished installing everything, consult <a href="{% url 'cfg_generator3' %}">the CFG Generator</a> for complete settings, configurations, and load orders.
      <ul>
        <li>The CFG Generator has presets for each mod list, so you can see the exact data and plugin order this list should have.</li>
        <li>Please note that the CFG Generator will use the folder paths you have set on the <a href="{% url 'user_settings' %}">User Settings</a> page, so make sure you configure those settings for personalized outputs.</li>
      </ul>
    </li>
    <li>There will be a "<a href="{% url 'mod-list-final' mod_list.slug %}">Final Checklist</a>" step, be sure to take a look at that even if you don't go through every mod in the list.</li>
  </ul>

  <h3>List Description</h3>

  <p>{{ mod_list.description|safe }}</p>

  <p class="center">
    {% if modlist_is_parent or not mod_list.parent_list %}
      <a class="button button-primary" href="{% url 'mod-list-changelog' slug=mod_list.slug %}" title="This button takes you to the change log for this mod list..">
        View list changelog
      </a>

      {# TODO: make the issue label link a mod list attribute to dehardcode this and make it available for all mod lists #}
      {% if mod_list.title == "Total Overhaul" %}
        <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/?label_name%5B%5D=Total%20Overhaul" title='Known issues for the "{{ mod_list.title }}" mod list.'>
          Known Issues
        </a>
      {% endif %}

    {% elif mod_list.parent_list %}
      <a class="button button-primary" href="{{ mod_list.parent_list.get_absolute_url }}">
        View {{ mod_list.parent_list.title }}
      </a>
    {% endif %}

    <a class="button button-primary" href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues" title="This button takes you to all open issues for the website, including known problems and TODO items.">
      View Open Issues
    </a>
  </p>

  <p class="center">
    <a class="button button-primary" href="{% url 'mod-list-step-detail' mod_list.slug 1 %}" title="Go through this list one mod at a time.">
      Start This List
    </a>

    <a class="button button-primary" href="{% url 'mod-lists' %}" title="View all lists.">
      View All Mod Lists
    </a>
  </p>

  {% if modlist_is_parent %}

    <h4 id="toc"><a href="#toc">Table of Contents</a></h4>
    <p>This mod list is divided into sections, the table of contents below has a link to each one.</p>
    <div id="mod-list-toc">
      <ul>
        {% for sublist in listed_mods.keys %}
          <li><a href="#{{ sublist.slug }}">{{ sublist.str_no_parent_title }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% for sublist, modset in listed_mods.items %}
      <h4 id="{{ sublist.slug }}" class="bold"><a href="#{{ sublist.slug }}">{{ sublist.str_no_parent_title }}</a></h4>
      <a class="button button-primary" href="{% url 'mod-list-detail' slug=sublist.slug %}" title="View just this sublist">
        View This Sublist
      </a>
      <p>{{ sublist.description }}</p>
      {% include 'listed_mod_table.html' with listed_mods=modset is_parent=modlist_is_parent %}
    {% endfor %}

  {% else %}
    {% include 'listed_mod_table.html' with listed_mods=listed_mods %}
  {% endif %}

  {% include "main-nav.html" with cur_page="mod-list-detail" %}
{% endblock %}
