<div id="mod-detail">
  {% load extra_tags %}
  {% if example_mod_page %}
    <h3 class="bold center">This is an example mod page intended to describe in some detail what each field is for.</h3>
  {% endif %}

  <h4 class="center">
    <a href="{{ mod.get_absolute_url }}">{{ mod }}</a>{% if mod.compat == 6 %} <i class="fa fa-ban" title="This mod is currently NOT compatible with the latest OpenMW!"></i>{% endif %}
  </h4>

  {% if mod_list %}
    {% if modlist_is_parent %}
      <p class="center">Step #{{ listed_mod.ordernum }} in the <a class="bold" href="{% url 'mod-list-detail' mod_list.slug %}">{{ mod_list.title }}</a> list</p>
    {% else %}
      <p class="center">Step #{{ listed_mod.order_number }} in the <a class="bold" href="{% url 'mod-list-detail' mod_list.slug %}">{{ mod_list.title }}</a> list</p>
    {% endif %}
  {% endif %}

  <div class="center">
    {% if mod_prev %}
      <a class="button button-primary" href="{% url 'mod-list-step-detail' mod_list.slug mod_prev %}" title="TIP: You can press Ctrl + Left / Right Arrow keys to navigate forward or backward through this mod list!  Keyboard navigation of mod lists unfortunately requires Javascript.  Sorry!">Previous</a>
    {% else %}
      {% if mod_list %}
        <a class="button button-primary" href="{% url 'mod-list-detail' mod_list.slug %}">List Overview</a>
      {% endif %}
    {% endif %}

    {% if mod_next %}
      <a class="button button-primary" href="{% url 'mod-list-step-detail' mod_list.slug mod_next %}" title="TIP: You can press Ctrl + Left / Right Arrow keys to navigate forward or backward through this mod list!  Keyboard navigation of mod lists unfortunately requires Javascript.  Sorry!">Next</a>
    {% elif mod_list and not mod_next and not mod_list.slug == "tes3mp-server" %}
      <a class="button button-primary" href="{% url 'mod-list-final' mod_list.slug %}">Final</a>
    {% endif %}
  </div>

  {% if mod_list or example_mod_page %}
  <div class="center">
    {% if example_mod_page %}
      <button title="This button toggles the setup status of this mod in the CFG Generator">Enable For CFG Generator</button>
      <p>Click this button when you've installed a particular mod. This enables you to get a partial config from the CFG Generator based on your progress through a list. <a href="{% url 'enable-in-cfg-generator-button' %}">See this page for more information</a>.</p>
    {% else %}
      <button id="moddetail-customcfg" data-mod-list="{{ mod_list.slug }}" data-mod-name="{{ mod.slug }}" title="This button toggles the setup status of this mod in the CFG Generator">Enable For CFG Generator</button>
      <p><a href="{% url 'enable-in-cfg-generator-button' %}">What is this button?</a></p>
    {% endif %}
  </div>
  {% endif %}

  <div class="bold center">
    {% if mod_is_settings %}{# TODO: Link to settings docs goes here! #}{% else %}<a href="{{ mod.url }}"><i class="fa fa-download" aria-hidden="true"></i> Download Page</a> | <a href="{% url 'example-mod-page' %}">How To Use This Detail Page</a> | <a href="https://openmw.readthedocs.io/en/latest/reference/modding/mod-install.html#install">How To Install Mods</a> | {% endif %}<a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/new">Submit New Issue</a>
  </div>

  {% if mod.picture %}
    <div class="key">Picture:</div>
    <div class="val">{{ mod.picture }}</div>
  {% endif %}

  <div class="mod-detail-grid">

    <div class="key">Author:</div>
    <div class="val">{{ mod.author|safe }}</div>

    <div class="key"><a href="{% url 'mod_categories' %}">Category</a>:</div>
    <div class="val"><a href="{% url 'mod_category_detail' mod.category.slug %}">{{ mod.category }}</a> {% if example_mod_page %}(The category this mod belongs to.){% endif %}</div>

    {% if example_mod_page or mod.tags.count > 0 and not hide_tags == True %}
      <div class="key"><a href="{% url 'mod_tags' %}">Tags</a>:</div>
      <div class="val">{% for t in mod.tags.all %}<a href="{% url 'mod_tag_detail' slug=t.slug %}">{{ t }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% if example_mod_page %}Tags group like mods with similar traits e.g., OpenMW Lua mods, or mods that need manual editing, and so forth.{% endif %}</div>
    {% endif %}

    {% if lm_set_count > 0 %}
      <div class="key">Featured in <a href="{% url 'mod-lists' %}">Mod Lists</a>:</div>
      <div class="val">{% for l in mod.listedmod_set.all %}<a href="{% url 'mod-list-detail' l.get_slug %}">{{ l.get_modlist_name }}</a> (<a href="{% url 'mod-list-step-detail' l.get_slug l.ordernum %}">#{{ l.ordernum }}</a>){% if not forloop.last %}, {% endif %}{% endfor %}{% if example_mod_page %}The mod lists this mod is included on and the step number of each list with links.{% endif %}</div>
    {% endif %}

    {% if mod.date_updated != mod.date_added %}
      <div class="key">Last Updated:</div>
      <div class="val" title="This indicates the last time the mod's record on this site was updated, not necessarily the last time the mod itself was updated.">{{ mod.date_updated|date:"Y-m-d" }}{% if example_mod_page %}The date this mod's record on our website was last updated, not necessarily the date the mod itself was last updated.{% endif %}</div>
    {% endif %}

    <div class="key">Description:</div>
    <div class="val">{{ mod.description|safe }}</div>

    {% if mod.dl_url %}
      <div class="key"><a id="download" href="#download">Download Link</a></div>
      <div class="val"><a href="{{ mod.dl_url }}">{{ mod.dl_item }}</a>{% if not "http" in mod.dl_url %} (<a href="{{ mod.dl_url }}.sha256sum.txt">sha256sum</a>) (<a href="{{ mod.dl_url }}.sha512sum.txt">sha512sum</a>){% endif %}{% if example_mod_page %} (This field contains a link to download this mod.){% endif %}</div>
    {% endif %}

    {% if not mod_list %}
      <div class="key">OpenMW Compatibility:</div>
      <div class="val">{{ mod.compat_link|safe }}{% if mod.compat == 6 %} <i class="fa fa-ban" title="This mod is currently NOT compatible with the latest OpenMW!"></i>{% elif mod.compat == 7 %}: This mod's compatibility is unknown - <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues">submit feedback</a>.{% endif %}</div>
    {% endif %}

    <div class="key">Active:</div>
    <div class="val">{% if mod.is_active %}Yes{% else %}No{% endif %}{% if example_mod_page %} (Is this mod being actively worked on?){% endif %}</div>
  </div>

  <h4 id="usage-info" class="center"><a href="#usage-info">Usage Info</a></h4>
  {% if lm_set_count > 0 and not mod_list %}
    <p class="bold center">
      Note: This page does not contain information specific to any mod list. In order to see mod list specific information use one of the mod list links listed above where it says "Featured in Mod Lists".
    </p>
  {% endif %}
  <p class="center">
    Did you find any inaccurate information below? Please let us know by <a href="https://gitlab.com/modding-openmw/modding-openmw.com/-/issues/new">opening an issue on GitLab</a> or <a href="https://discord.gg/KYKEUxFUsZ">joining our Discord</a>!
  </p>
  <div class="mod-detail-grid">
    {% if data_paths and not mod_is_settings %}
      <div class="key">Data path{{ data_paths|pluralize }}:</div>
      <div class="val">
        {% if example_mod_page %}This field will list each data path you need for this particular mod. The listing will vary depending on what mod list you're viewing this on, if at all.{% endif %}
        <pre><code class="basedir-setup" id="data-paths">{% for p in data_paths %}{{ p }}
{% endfor %}</code></pre>
        {% if example_mod_page %}If you are using a mod list the <a href="{% url 'cfg_generator' %}">CFG Generator</a> will provide you with the <code>data=</code> output tailored to your mod list that you can copy into your clipboard and paste into your config files manually, or to use as a reference if you're using a mod manager.{% endif %}
      </div>
    {% endif %}

    {% if needs_cleaning %}
      <div class="key">Plugin{{ plugins|pluralize }} Need{{ plugins|pluralize:"s," }} Cleaning:</div>
      <div class="val"><a href="{% url 'tips-cleaning' %}">Yes</a>{% if example_mod_page %} (This field will indicate when a plugin is dirty and should be cleaned){% endif %}</div>
    {% endif %}

    {% if usage_notes %}
      <div class="key">Usage Notes:</div>
      <div class="val">
        {% for note in usage_notes %}
          {% if mod_list %}
            {{ note.text|safe }}
          {% else %}
            {{ note.generic|safe }}
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if bsas %}
      <div class="key">Fallback Archive{{ bsas|pluralize }} (BSA):</div>
      <div class="val">
        {% if example_mod_page %}This field will list each fallback-archive (also known as BSAs) this mod comes with that need to <a href = "{% url 'tips-register-bsas' %}">be registered</a>. Note that the suggested loadout may vary depending on what mod list you're viewing this on, if at all.{% endif %}
        <pre><code>{% for b in bsas %}{{ b.file_name }}
{% endfor %}</code></pre>
      </div>
    {% endif %}

    {% if plugins %}
      <div class="key">Content Plugin{{ plugins|pluralize }}:</div>
      <div class="val">
        {% if example_mod_page %}This field will list each content plugin this mod comes with that needs to be enabled. Note that the suggested loadout may vary depending on what mod list you're viewing this on, if at all.{% endif %}
        <pre><code>{% for p in plugins %}{{ p.filename }}
{% endfor %}</code></pre>
        {% if example_mod_page %}If you are using a mod list the <a href="{% url 'cfg_generator' %}">CFG Generator</a> will provide you with the <code>content=</code> output tailored to your mod list that you can copy into your clipboard and paste into your config files manually, or to use as a reference if you're using a mod manager.{% endif %}
      </div>
    {% endif %}

    {% if groundcover %}
    <div class="key">Groundcover Plugin{{ groundcover|pluralize }}:</div>
    <div class="val">
      {% if example_mod_page %}This field will list each groundcover plugin this mod comes with that needs to be enabled. Note that the suggested loadout may vary depending on what mod list you're viewing this on, if at all.{% endif %}
      <pre><code>{% for g in groundcover %}{{ g.file_name }}
{% endfor %}</code></pre>
      {% if example_mod_page %}If you are using a mod list the <a href="{% url 'cfg_generator' %}">CFG Generator</a> will provide you with the <code>groundcover=</code> output tailored to your mod list that you can copy into your clipboard and paste into your config files manually, or to use as a reference if you're using a mod manager.{% endif %}
    </div>
    {% endif %}

    {% if extra_cfg %}
      <div class="key">Extra Configs:</div>
      <div class="val">
        {% for ec in extra_cfg %}
          These values need to be added to <code>{% if ec.in_settings %}settings{% else %}openmw{% endif %}.cfg</code> (be sure to consult <a href="{% url 'cfg_generator' %}">the CFG Generator</a> for a complete readout of all required settings):
          {% if ec.text|length < 100 %}
            <pre><code>{{ ec.text }}</code></pre>
          {% else %}
            <details>
              <summary>Click to hide or show:</summary>
              <pre><code>{{ ec.text }}</code></pre>
            </details>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if mod.alt_to.all or example_mod_page %}
      <div class="key">Alternative{{ mod.alt_to.all|pluralize }}:</div>
      <div class="val">{% for alt in mod.alt_to.all %}<a href="{{ alt.get_absolute_url }}">{{ alt }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% if example_mod_page %}Mods that could be considered alternatives to the current mod. Compatibility with mod lists is not guaranteed and using these is generally not recommended.{% endif %}</div>
    {% endif %}
  </div>

  {% if mod_prev or mod_next %}
    <div id="modlist-pagination" class="center">
      {% if mod_prev %}
        <a href="{% url 'mod-list-step-detail' mod_list.slug mod_prev %}"><i class="fa fa-chevron-left pag-icon" aria-hidden="true"></i> Prev</a>
      {% endif %}

      {% for num in pag_range %}
        {% if modlist_is_parent %}
          {% if listed_mod.ordernum == num %}
            <span class="bold paginate-num">{{ num }}</span>
          {% else %}
            <a href="{% url 'mod-list-step-detail' mod_list.slug num %}">{{ num }}</a>
          {% endif %}

        {% else %}
          {% if listed_mod.order_number == num %}
            <span class="bold paginate-num">{{ num }}</span>
          {% else %}
            <a href="{% url 'mod-list-step-detail' mod_list.slug num %}">{{ num }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      {% if show_final %}
        <a href="{% url 'mod-list-final' mod_list.slug %}">Final</a>
      {% endif %}

      {% if mod_next %}
        <a href="{% url 'mod-list-step-detail' mod_list.slug mod_next %}">Next <i class="fa fa-chevron-right pag-icon" aria-hidden="true"></i></a>
      {% endif %}
    </div>
  {% endif %}
</div>

{% if mod_list %}
  <!-- For keyboard navigation -->
  <div id="modlist" data-modlist="{{ mod_list.slug }}"></div>
  {% if modlist_is_parent %}
    <div id="listnum" data-listnum="{{ listed_mod.ordernum }}"></div>
  {% else %}
    <div id="listnum" data-listnum="{{ listed_mod.order_number }}"></div>
  {% endif %}
  <div id="next" data-next="{{ mod_next }}"></div>
  <div id="prev" data-prev="{{ mod_prev }}"></div>
  <div></div>
{% endif %}
