
{% if cur_page == "changelogs" %}
  <button disabled>List Changelogs</button>
{% else %}
  <a class="button button-primary" href="{% url 'changelogs' %}">List Changelogs</a>
{% endif %}

{% if cur_page == "latest_mods" %}
  <button disabled>Latest Updates</button>
{% else %}
  <a class="button button-primary" href="{% url 'latest_mods' %}">Latest Updates</a>
{% endif %}

{% if cur_page != "index" %}
  {% if cur_page == "mod-lists" %}
    <button disabled>Mod Lists</button>
  {% else %}
    <a class="button button-primary" href="{% url 'mod-lists' %}">Mod Lists</a>
  {% endif %}
{% endif %}

{% if cur_page == "mod_categories" %}
  <button disabled>By Category</button>
{% else %}
  <a class="button button-primary" href="{% url 'mod_categories' %}">By Category</a>
{% endif %}

{% if cur_page == "mod_tags" %}
  <button disabled>By Tag</button>
{% else %}
  <a class="button button-primary" href="{% url 'mod_tags' %}">By Tag</a>
{% endif %}
