{% extends 'base.html' %}
{% block title %}User Config{% endblock %}
{% block content %}
  <div>
    <noscript>
      <p class="bold">
        Note: This page requires javascript to function!
      </p>
    </noscript>

    <h3 class="bold center">User Settings</h3>
    <p class="center">
      Settings for your Modding-OpenMW.com experience.
    </p>

    <h3>Set Your Base Folder</h3>
    <p>
      Your "base folder" is the one where all your mods will be put into. Enter the folder path you're using in the box below and click the "Set" botton or press Enter. Submit a blank input box to clear your saved value.
    </p>
    <input type="text" id="basedir" name="basedir" placeholder="{% if visitor_os == 'windows' %}F:\Morrowind\Mods{% elif visitor_os == 'macos' %}/Users/YourUser/Games/Morrowind/Mods{% elif visitor_os == 'linux' %}/home/yourUser/games/mwmods{% endif %}" />
    <p><button id="set-basedir" title="Click this to ........">Set</button> Current base dir: <span class="bold" id="current">None</span></p>

    <div class="line" style="margin-top: 14px;"></div>

    <h3>Set Your Morrowind Data Files Folder Path</h3>
    <p>
      Your "Morrowind Data Files folder path" is the path to the "Data Files" folder inside of your Morrowind install. Enter the folder path you're using in the box below and click the "Set" botton or press Enter. Submit a blank input box to clear your saved value.
    </p>
    <input type="text" id="mwdir" name="mwdir" placeholder="{% if visitor_os == 'windows' %}C:\games\Morrowind\{% elif visitor_os == 'macos' %}/Users/YourUser/Games/Morrowind/{% elif visitor_os == 'linux' %}/home/yourUser/games/Morrowind/{% endif %}Data Files" />
    <p><button id="set-mwdir" title="Click this to ........">Set</button> Current Morrowind Data Files path: <span class="bold" id="currentMwDir">None</span></p>

    <div class="line" style="margin-top: 14px;"></div>

    <h3>Theme Selector</h3>
    <button id="toggle-theme" title="Click this to toggle between dark and light themes">Current Theme: light</button>

    <div class="line" style="margin-top: 14px;"></div>

    <h3>Clear Site Data</h3>

    <p>
      Click this button if you're having trouble with the CFG Generator and custom paths. <span class="bold">WARNING!!!!</span> This is not reversible!
    </p>

    <button id="clear-data" title="Click this to clear all of your site data">Clear My Data (NOT REVERSIBLE!!)</button>

    {# TODO: save/load config'd mod list #}
  </div>
{% endblock %}
{% block lower_js %}
  {% if DEBUG %}
    {% load static %}
    <script src="{% static 'js/clear-settings.js' %}"></script>
  {% else %}
    <script src="/js/clear-settings.js"></script>
  {% endif %}
{% endblock %}
