{% extends 'base.html' %}
{% block title %}Site Update 2022-06-01{% endblock %}
{% block content %}

  <h2>Site Update 2022-06-01</h2>

  <p>
    The website hasn't seen updates for some time, and many people have emailed me and not gotten responses in many months. You may be wondering: what's going on with the status of the website? Is this project dead?
  </p>

  <p class="bold">
    I haven't abandoned the website. The project is not dead.
  </p>

  <p>
    I've ran the website for five years basically on my own. Yes, just one person. I've gotten countless emails from countless people, and those people have been an invaluable source of problem reports and new content suggestions. I've done my best to reply to every single email in a timely manner, and help everyone with a problem as best as I can.
  </p>

  <p>
    If you have written me an email in the past three or so months and not gotten a response, I sincerely apologize about that. Unfortunately, for a variety of reasons I haven't been able to keep up with the website as much as I have been in the past.
  </p>

  <p>
    The point of this? Unfortunately, this project has become too overwhelming for just me to carry at the current rate things are growing. I don't want to abandon it, but I also need to make some changes and bring more people on board. I can't promise any ETA on future updates or anything like that, but I do want to make it clear that I'm working to ensure the website has a future and can continue.
  </p>

  <p>
    Do you know Python and/or web development? Do you love modding OpenMW or Morrowind in general? Would you like to join the website team? If you answered "yes" to any of those then please <a href="">contact me via email</a> or on Discord (I'm <code>johnnyhostile#6749</code>) and let's talk!
  </p>

  <p>
    Until next time..... happy modding!
  </p>

  <p>
    -johnnyhostile
  </p>

  {% include "main-nav.html" with cur_page="about" prev_link=False next_link="/getting-started/" %}

{% endblock %}
