{% extends 'base.html' %}
{% block title %}Tips: Portable Install{% endblock %}
{% block content %}

  <h3 class="center">Tips: <span class="bold">Portable Install</span></h3>

  {% include "tips-nav.html" with cur_page="tips-portable-install" %}

  <p>
    OpenMW 0.48 added the ability for a "portable install"; that is: one where all the cfg files and related things that normally live amid your user documents instead live in a separate folder of your choosing.
  </p>

  <p>
    This can be handy for playing with total conversion mods such as Arktwend or <a href="/mods/starwind-v3-a-star-wars-conversion/">Starwind</a>, where you may want to keep these files separated from your normal files for playing Morrowind.
  </p>

  <p>
    To use this feature, create a launcher for OpenMW with a couple of specific arguments as follows:
  </p>

  <pre><code># Linux/macOS
openmw --replace=config --config ~/games/StarwindCfg --user-data ~/games/StarwindCfg

# Windows
openmw.exe --replace=config --config C:\games\StarwindCfg --user-data C:\games\StarwindCfg</code></pre>

  <p>
    In order for the game to launch, you need valid <code>openmw.cfg</code> and <code>settings.cfg</code> files in the folder you specify. You could copy those from the normal location and then edit them as needed.
  </p>

  <p>
    This specific example is for Starwind, but you can name the destination folder anything you want.
  </p>

  {% include "tips-nav.html" with cur_page="tips-portable-install" %}

  {% include "main-nav.html" with cur_page="tips-portable-install" prev_link=False next_link=False %}

{% endblock %}
