{% load filterz %}
<div id="_paginate">
  {% if page_obj.has_previous %}
    <a class="fa fa-arrow-left" href="?page={{ page_obj.previous_page_number }}"></a>
  {% endif %}
  {% for n in page_obj.paginator.num_pages|times %}
    {% if page_obj.paginator.num_pages > 2 %}
      {% if page_obj.number == n %}
        <span class="paginate_num">{{ n }}</span>
      {% else %}
        <a href="?page={{ n }}"><span class="paginate_num">{{ n }}</span></a>
      {% endif %}
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <a class="fa fa-arrow-right" href="?page={{ page_obj.next_page_number }}"></a>
  {% endif %}
</div>
